.contact {
    min-height: 66vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #2b2d2c;
    padding: 5rem;
}

.icons, .links {
  display: flex;
  flex-direction: column;
}

svg {
  margin: 2rem;
  width: calc(30px + 3vw);
  height: auto;
  transition: all ease 200ms;
}

svg:hover {
  transform: scale(1.1);
}

.contact a {
  color: inherit;
}

.contact a:hover {
  color: inherit;
}
  
.contact p {
    font-size: calc(15px + 0.8vw);
}

.website {
  display: none;
  justify-content: center;
}

@media(min-width: 768px) {
  .links {
    flex-direction: row;
  }

  .link {
    margin-left: calc(15px + 1.5vw);
    margin-right: calc(15px + 1.5vw);
  }

  svg:hover + .website {
    display: flex;
    transform: scale(1.1);
  }

  svg {
    margin-bottom: 1rem;
  }

  .contact .website {
    font-size: calc(15px + 0.5vw);
  }

  a:hover {
    text-decoration: none;
  }
}