*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1c1714;
}

body::-webkit-scrollbar {
    background-color: #1c1714;
    width: 16px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(245, 240, 234, 0.3);
    border-radius: 16px;
    border: 0.33rem solid #1c1714;
}

body::-webkit-scrollbar-button {
    display: none;
}
